# Bamboo Weekly 107: Consumer confidence

1. Read the CSV file into a data frame. Create a `date` column (with a `datetime` dtype) based on the `Month` and `yyyy` columns, and make it the index. Keep only the columns that start with `ics`, `ice`, `icc`, or `px1`.
2. What are the most recent month-to-month percentage changes in overall ("all") ICS, ICC, and ICE? What are the most recent year-to-year percentage changes in these three values?

In [2]:
filename = '/Users/reuven/BambooWeekly/notebooks/data/bw-107-data.zip'

import pandas as pd

In [10]:
df = (pd
      .read_csv(filename, header=1)
      .assign(date = lambda df_: pd.to_datetime(df_['yyyy'].astype(str) + '-' + df_['Month'].astype(str)))
      .set_index('date')
      .filter(regex=r'^(ics|icc|ice|px1)')
     )

df

,ics_all,ics_inc31,ics_inc32,ics_inc33,ics_a1834,ics_a3554,ics_a5597,ics_ne,ics_nc,ics_s,...,px1_15p_all,px1_dkup_all,px1_dk_all,px1_mean_all,px1_var_all,px1_med_all,px1_std_all,px1_p25_all,px1_p75_all,px1_r50_all
date,,,,,,,,,,,,,,,,,,,,,
2008-01-01,78.4,70.1,76.8,87.9,90.5,80.6,71.7,78.8,79.9,79.9,...,1,12,0,4.0,12,3.4,3.5,1.8,5.2,3.4
2008-02-01,70.8,63.3,75.3,73.7,82.7,71.5,65.2,73.9,68.1,69.9,...,2,10,1,3.9,19,3.6,4.3,1.7,5.3,3.6
2008-03-01,69.5,59.8,71.6,78.4,86.8,70.9,61.7,69.8,71.1,68.3,...,3,10,0,4.6,20,4.3,4.4,2.3,5.5,3.1
2008-04-01,62.6,57.4,64.8,67.8,71.8,61.1,60.9,58.2,61.0,66.1,...,8,11,1,5.7,26,4.8,5.1,2.7,9.7,7.0
2008-05-01,59.8,55.4,57.3,66.8,73.0,57.2,56.9,57.8,58.2,60.8,...,11,13,0,7.0,29,5.2,5.4,3.3,10.0,6.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-01,70.1,62.9,66.2,83.2,74.7,68.8,72.1,77.1,70.4,67.4,...,9,5,1,4.4,81,2.7,9.0,0.1,5.1,5.0
2024-10-01,70.5,61.2,69.8,83.4,82.6,72.3,68.1,73.6,74.0,69.8,...,10,4,1,5.2,102,2.7,10.1,0.2,5.2,5.0
2024-11-01,71.8,64.6,70.6,80.4,70.6,70.4,73.2,73.4,76.0,68.4,...,10,6,1,4.4,109,2.6,10.5,0.0,5.1,5.2
2024-12-01,74.0,66.1,73.7,83.8,71.9,72.3,75.7,70.7,72.3,73.7,...,12,6,1,4.9,120,2.8,11.0,0.0,5.5,5.5
2025-01-01,71.7,63.4,70.4,81.3,71.1,72.2,72.8,72.5,70.7,73.1,...,13,4,1,5.7,110,3.3,10.5,0.4,7.7,7.3

In [18]:
# What are the most recent month-to-month percentage changes in overall ("all") ICS, ICC, and ICE? 

(
    df
    [['ics_all', 'icc_all', 'ice_all']]
    .pct_change()
    .tail(1)
)

             ics_all  icc_all   ice_all
date
2025-01-01 -0.031081      0.0 -0.051842

In [15]:
# What are the most recent year-to-year percentage changes in these three values?

(
    df
    [['ics_all', 'icc_all', 'ice_all']]
    .pct_change(periods=12)
    .tail(1)
)

             ics_all   icc_all   ice_all
date
2025-01-01 -0.092405 -0.083028 -0.098573

In [19]:
# let's add a new row to our data frame, representing data from the most recent month (Feb 2025)

import numpy as np
df.loc[pd.to_datetime('2025-02-01')] = np.nan
df.loc[pd.to_datetime('2025-02-01'), ['ics_all', 'icc_all', 'ice_all']] = [64.7, 65.7, 64.0]

In [20]:
# month-to-month

(
    df
    [['ics_all', 'icc_all', 'ice_all']]
    .pct_change()
    .tail(1)
)

             ics_all   icc_all   ice_all
date
2025-02-01 -0.097629 -0.125166 -0.079137

In [21]:
# year-to-year

(
    df
    [['ics_all', 'icc_all', 'ice_all']]
    .pct_change(periods=12)
    .tail(1)
)

             ics_all   icc_all   ice_all
date
2025-02-01 -0.158648 -0.172544 -0.148936