In [3]:
filename = '/Users/reuven/BambooWeekly/notebooks/data/240617-def-exp-2024-TABLES-en.xlsx'

1. Read the "defence expenditure" data from "table 2" into a Pandas data frame. (We want the first table on that sheet, with current prices and exchange rates.) Which five countries have increased their NATO spending most, as a percentage, in the latest budget cycle (from 2023-2024)? Which increased most since 2014, when the data was first tracked?
2. The United States spends more on defense than any other NATO country, with Germany and the UK in the 2nd and  3rd position. Find how much the US spent (estimated) in 2024. Then see how many other NATO countries' defense spending, starting with Germany and the UK and continuing from largest to smallest, would be needed to match US defense spending. That is, if we'd like to say that "the US spends as much as the n next-largest contributors, combined," what is n?

In [2]:
import pandas as pd

In [17]:
df = (
    pd
    .read_excel(filename,
                sheet_name='TABLE2',
                header=7,
                nrows=33)
    .drop(columns=['Unnamed: 0', 'Unnamed: 1'])
    .set_index('Unnamed: 2')
    .iloc[2:]
)

df.shape

(31, 11)

In [18]:
df.dtypes

2014     float64
2015     float64
2016     float64
2017     float64
2018     float64
2019     float64
2020     float64
2021     float64
2022     float64
2023e    float64
2024e    float64
dtype: object

In [19]:
# compare 2023-2024 as a percentage
# this means comparing the 2023 column with the 2024 column
# we can even compare each column with the one to its left

(
    df
    .pct_change(axis='columns')
    ['2024e']
    .nlargest(5)
)

Unnamed: 2
Romania*      0.542354
Czechia*      0.506007
Montenegro    0.414590
TÃ¼rkiye       0.370916
Sweden        0.363539
Name: 2024e, dtype: float64

In [21]:
# what about comparing 2024 to 2014 (the first year we have)

(
    df
    .pct_change(axis='columns',
               periods=len(df.columns)-1)
    ['2024e']
    .nlargest(5)
)

Unnamed: 2
Lithuania*    4.378801
Latvia*       3.838939
Hungary       3.040984
Poland*       2.460544
Czechia*      2.459855
Name: 2024e, dtype: float64

In [26]:
# The US spends more on defense than any other NATO country. Germany the UK come next.
# The US spends as much as the next n countries in NATO on defense. What is n?

# expanding window -- on sum

us_spending = df.loc['United States', '2024e']

(
    df
    ['2024e']
    .sort_values(ascending=False)
    .iloc[1:]
    .expanding().sum()
    .loc[lambda s_: s_ >= us_spending]
)

Series([], Name: 2024e, dtype: float64)