# Why I dislike using dot notation in Pandas

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(0, 1000, [4,5]),
                  index=list('abcd'),
                  columns=list('vwxyz'))
df

     v    w    x    y    z
a  176  186  319  979  194
b  166  591  775  564  761
c  666  941  767  972  748
d  272  660  467   85   46

In [2]:
# how can I retrieve a row? 
# I can use .loc or .iloc

df.loc['a']  # based on the index

v    176
w    186
x    319
y    979
z    194
Name: a, dtype: int64

In [3]:
df.iloc[1]  # based on the position

v    166
w    591
x    775
y    564
z    761
Name: b, dtype: int64

In [4]:
# what if I want to retrieve a column?
# I have two options -- dot notation or square bracket notation

df['v']

a    176
b    166
c    666
d    272
Name: v, dtype: int64

In [5]:
# I can also use dot notation

df.v

a    176
b    166
c    666
d    272
Name: v, dtype: int64

In [7]:
# if your column contains spaces, this won't work!

df.columns = ['v v', 'w w', 'x x', 'y y', 'z z']
df

   v v  w w  x x  y y  z z
a  176  186  319  979  194
b  166  591  775  564  761
c  666  941  767  972  748
d  272  660  467   85   46

In [8]:
df['x x']

a    319
b    775
c    767
d    467
Name: x x, dtype: int64

In [9]:
df.x x

SyntaxError: invalid syntax (3244531077.py, line 1)

In [10]:
# It muddies the difference between actual Pandas methods/attributes and our own column names

df.columns = ['sum', 'mean', 'x x', 'y y', 'z z']

In [12]:
df.sum()

sum     1280
mean    2378
x x     2328
y y     2600
z z     1749
dtype: int64

In [13]:
df['sum']

a    176
b    166
c    666
d    272
Name: sum, dtype: int64