In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('taxi.csv')

In [3]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

# 1. Chained indexing for retrieval

In [6]:
%timeit df.loc[4]['trip_distance']

25.9 μs ± 202 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [7]:
%timeit df.loc[4].loc['trip_distance']

29.9 μs ± 229 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [9]:
%timeit df.loc[4, 'trip_distance']

5.4 μs ± 16 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

# 2. Chained indexing for assignment

In [10]:
df.loc[4]['trip_distance'] = 20

/var/folders/rr/0mnyyv811fs5vyp22gf4fxk00000gn/T/ipykernel_76913/2855573213.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[4]['trip_distance'] = 20

In [11]:
df.loc[4, 'trip_distance'] = 20

# 3. Ignoring dtypes

In [12]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
RateCodeID                 int64
store_and_fwd_flag        object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [13]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               9999 non-null   int64
 1   tpep_pickup_datetime   9999 non-null   object
 2   tpep_dropoff_datetime  9999 non-null   object
 3   passenger_count        9999 non-null   int64
 4   trip_distance          9999 non-null   float64
 5   pickup_longitude       9999 non-null   float64
 6   pickup_latitude        9999 non-null   float64
 7   RateCodeID             9999 non-null   int64
 8   store_and_fwd_flag     9999 non-null   object
 9   dropoff_longitude      9999 non-null   float64
 10  dropoff_latitude       9999 non-null   float64
 11  payment_type           9999 non-null   int64
 12  fare_amount            9999 non-null   float64
 13  extra                  9999 non-null   float64
 14  mta_tax                9999 non-null   float64
 15  tip_amount             9999 non-null   float64
 16  tolls_amount           9999 non-null   float64
 17  improvement_surcharge  9999 non-null   float64
 18  total_amount           9999 non-null   float64
dtypes: float64(12), int64(4), object(3)
memory usage: 3.0 MB

In [14]:
df['VendorID'] = df['VendorID'].astype('int8')
df['passenger_count'] = df['passenger_count'].astype('int8')
df['trip_distance'] = df['trip_distance'].astype('float16')
df['total_amount'] = df['total_amount'].astype('float16')

In [15]:
df.dtypes

VendorID                    int8
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count             int8
trip_distance            float16
pickup_longitude         float64
pickup_latitude          float64
RateCodeID                 int64
store_and_fwd_flag        object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float16
dtype: object

In [16]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               9999 non-null   int8
 1   tpep_pickup_datetime   9999 non-null   object
 2   tpep_dropoff_datetime  9999 non-null   object
 3   passenger_count        9999 non-null   int8
 4   trip_distance          9999 non-null   float16
 5   pickup_longitude       9999 non-null   float64
 6   pickup_latitude        9999 non-null   float64
 7   RateCodeID             9999 non-null   int64
 8   store_and_fwd_flag     9999 non-null   object
 9   dropoff_longitude      9999 non-null   float64
 10  dropoff_latitude       9999 non-null   float64
 11  payment_type           9999 non-null   int64
 12  fare_amount            9999 non-null   float64
 13  extra                  9999 non-null   float64
 14  mta_tax                9999 non-null   float64
 15  tip_amount             9999 non-null   float64
 16  tolls_amount           9999 non-null   float64
 17  improvement_surcharge  9999 non-null   float64
 18  total_amount           9999 non-null   float16
dtypes: float16(2), float64(10), int64(2), int8(2), object(3)
memory usage: 2.7 MB

# 4. Overusing `apply`

In [19]:
%timeit df['passenger_count'].apply(lambda x: x+1)

2.57 ms ± 12.4 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [20]:
%timeit df['passenger_count'] + 1

29.4 μs ± 1.21 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

# 5. Using `inplace=True`

In [22]:
%timeit df.set_index('tpep_pickup_datetime')

301 μs ± 1.18 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [24]:
df = pd.read_csv('taxi.csv')

In [25]:
%%timeit 

df.set_index('tpep_pickup_datetime', inplace=True)
df.reset_index(inplace=True)

248 μs ± 3.33 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)