# `idxmin` and `idxmax`

In [7]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [8]:
np.random.seed(0)
s = Series(np.random.randint(0, 1000, 10),
           index=list('abcdefghij'))

In [9]:
s

a    684
b    559
c    629
d    192
e    835
f    763
g    707
h    359
i      9
j    723
dtype: int64

In [10]:
# what is the smallest number in s?
s.min()

9

In [14]:
# what is the index of the smallest number in s?
s.sort_values().index[0]

'i'

In [15]:
# there is a special method, idxmin
s.idxmin()

'i'

In [16]:
# I can do the same thing with the max value
s.max()

835

In [17]:
s.idxmax()

'e'

In [18]:
# what if I want both the minimum value and its index?
s.sort_values().head(1)

i    9
dtype: int64

In [19]:
s.agg(['min', 'idxmin'])

min       9
idxmin    i
dtype: object

In [20]:
s.agg(['min', 'idxmin', 'max', 'idxmax'])

min         9
idxmin      i
max       835
idxmax      e
dtype: object

In [21]:
np.random.seed(0)
df = DataFrame(np.random.randint(0, 1000, [6,6]),
               index=list('abcdef'),
               columns=list('uvwxyz'))
df

     u    v    w    x    y    z
a  684  559  629  192  835  763
b  707  359    9  723  277  754
c  804  599   70  472  600  396
d  314  705  486  551   87  174
e  600  849  677  537  845   72
f  777  916  115  976  755  709

In [22]:
# when we run a series-style method on a data frame,
# the method is run on each and every column, and we get
# a response for each column
df.min()

u    314
v    359
w      9
x    192
y     87
z     72
dtype: int64

In [23]:
# can I do this with idxmin?
df.idxmin()

u    d
v    b
w    b
x    a
y    d
z    e
dtype: object

In [24]:
df.agg(['min', 'idxmin'])

          u    v  w    x   y   z
min     314  359  9  192  87  72
idxmin    d    b  b    a   d   e

In [26]:
# what if I want to get the minimum value per row, and its column name?
df.min(axis='columns')

a    192
b      9
c     70
d     87
e     72
f    115
dtype: int64

In [27]:
df.agg(['min', 'idxmin'], axis='columns')

   min idxmin
a  192      x
b    9      w
c   70      w
d   87      y
e   72      z
f  115      w

In [30]:
df = pd.read_csv('/Users/reuven/Courses/Current/Data/wti-daily.csv', 
                 parse_dates=['Date'],
                index_col='Date')

In [31]:
df.head()

            Price
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87

In [33]:
df.idxmin()   # this means: on which date was the oil price lowest?

Price   2020-04-20
dtype: datetime64[ns]

In [34]:
df.agg(['idxmin', 'min'])

                      Price
idxmin  2020-04-20 00:00:00
min                  -36.98