In [19]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [20]:
df = pd.read_csv('/Users/reuven/Courses/Current/data/olympic_athlete_events.csv')

In [21]:
df.shape

(271116, 15)

In [22]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [23]:
# what was the average height of Olympic athletes?
df['Height'].mean()

175.33896987366376

In [24]:
# what was the average height of Olympic athletes, per year?
df.groupby('Year')['Height'].mean()

Year
1896    172.739130
1900    176.637931
1904    175.788732
1906    178.206226
1908    177.543158
1912    177.447989
1920    175.752282
1924    174.963039
1928    175.162051
1932    174.220115
1936    175.723993
1948    176.172797
1952    174.138940
1956    173.900968
1960    173.141286
1964    173.448574
1968    173.945865
1972    174.565363
1976    174.920528
1980    175.527488
1984    175.540855
1988    175.745252
1992    176.174649
1994    175.169862
1996    175.895121
1998    174.581369
2000    176.089721
2002    174.702451
2004    175.972850
2006    174.623172
2008    176.211062
2010    174.918182
2012    176.262469
2014    174.816670
2016    176.034266
Name: Height, dtype: float64

In [28]:
# What was the average height of athletes, per year *AND* per country?
# for each distinct year -- categorical data
# for each distinct team -- categorical data
# what was the average height?

# we can create a pivot table!

df.pivot_table(index='Year', columns='Team', values='Height').dropna(thresh=10)

Team,30. Februar,Acipactli,Afghanistan,Akatonbo,Alain IV,Albania,Aldebaran,Aldebaran II,Aletta,Algeria,...,Ylliam II,Ylliam VII,Ylliam VIII,Yugoslavia,Yugoslavia-1,Yugoslavia-2,Zambia,Zefyros,Zimbabwe,rn-2
Year,,,,,,,,,,,,,,,,,,,,,
1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176.0
1920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,190.000000,NaN,NaN,NaN,NaN,NaN,NaN
1928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,173.428571,NaN,NaN,NaN,NaN,NaN,NaN
1932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,192.000000,NaN,NaN,NaN,NaN,NaN,NaN
1936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,179.0,NaN,NaN,179.900000,NaN,NaN,NaN,NaN,NaN,NaN
1948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,179.333333,NaN,176.666667,NaN,NaN,NaN,NaN,NaN,NaN
1952,171.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,180.0,172.950000,NaN,NaN,NaN,NaN,NaN,NaN
1956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,178.352941,NaN,NaN,NaN,NaN,NaN,NaN
1960,NaN,NaN,170.687500,NaN,NaN,NaN,NaN,177.5,176.333333,NaN,...,NaN,NaN,NaN,175.032787,NaN,NaN,NaN,180.0,155.000000,NaN
1964,NaN,174.666667,161.000000,182.0,176.0,NaN,174.5,NaN,NaN,175.000000,...,NaN,NaN,NaN,176.724138,NaN,NaN,175.733333,NaN,174.161290,NaN
1968,NaN,NaN,170.200000,NaN,NaN,NaN,NaN,NaN,NaN,169.777778,...,NaN,NaN,NaN,174.965909,NaN,NaN,175.250000,NaN,NaN,NaN
1972,NaN,NaN,168.333333,NaN,NaN,NaN,NaN,NaN,NaN,173.166667,...,NaN,NaN,NaN,175.260684,179.5,175.00,168.500000,NaN,NaN,NaN
1976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,184.254545,NaN,NaN,NaN,NaN,NaN,NaN
1980,NaN,NaN,168.363636,NaN,NaN,NaN,NaN,NaN,NaN,175.450000,...,NaN,NaN,NaN,182.543590,NaN,NaN,174.214286,NaN,171.942308,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176.809524,...,NaN,NaN,NaN,180.256000,186.2,183.25,173.714286,NaN,173.950000,NaN
1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176.166667,...,NaN,NaN,NaN,182.046083,NaN,NaN,172.781250,NaN,176.489362,NaN
1992,NaN,NaN,NaN,NaN,NaN,163.000000,NaN,NaN,NaN,170.428571,...,NaN,NaN,NaN,181.375000,183.0,183.00,169.714286,NaN,171.142857,NaN
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,NaN,NaN,NaN,NaN,169.000000,NaN,NaN,NaN,176.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,170.166667,NaN,176.705882,NaN
1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,NaN,NaN,NaN,NaN,NaN,167.800000,NaN,NaN,NaN,174.313725,...,NaN,NaN,NaN,NaN,NaN,NaN,173.166667,NaN,178.960000,NaN
2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,NaN,NaN,170.750000,NaN,NaN,172.285714,NaN,NaN,NaN,173.623188,...,NaN,NaN,NaN,NaN,NaN,NaN,173.666667,NaN,177.785714,NaN
2006,NaN,NaN,NaN,NaN,NaN,180.000000,NaN,NaN,NaN,171.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,NaN,NaN,179.250000,NaN,NaN,173.416667,NaN,NaN,NaN,176.982143,...,NaN,NaN,NaN,NaN,NaN,NaN,168.714286,NaN,171.928571,NaN
2010,NaN,NaN,NaN,NaN,NaN,180.000000,NaN,NaN,NaN,170.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,NaN,NaN,171.666667,NaN,NaN,176.800000,NaN,NaN,NaN,174.263158,...,NaN,NaN,NaN,NaN,NaN,NaN,176.166667,NaN,174.444444,NaN
2014,NaN,NaN,NaN,NaN,NaN,163.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182.000000,NaN
2016,NaN,NaN,173.666667,NaN,NaN,176.166667,NaN,NaN,NaN,174.027027,...,NaN,NaN,NaN,NaN,NaN,NaN,175.166667,NaN,167.838710,NaN

In [34]:
df.pivot_table(index='Year', columns='Sport', values='Height').dropna(thresh=30)

Sport,Alpine Skiing,Archery,Art Competitions,Athletics,Badminton,Baseball,Basketball,Beach Volleyball,Biathlon,Bobsleigh,...,Table Tennis,Taekwondo,Tennis,Trampolining,Triathlon,Tug-Of-War,Volleyball,Water Polo,Weightlifting,Wrestling
Year,,,,,,,,,,,,,,,,,,,,,
1964,169.783784,NaN,NaN,175.876506,NaN,NaN,189.920635,NaN,174.295455,177.274725,...,NaN,NaN,NaN,NaN,NaN,NaN,179.374302,181.942623,168.521127,171.920690
1968,171.181360,NaN,NaN,176.355755,NaN,NaN,189.880435,NaN,176.116071,177.433333,...,NaN,NaN,NaN,NaN,NaN,NaN,180.912195,182.629630,168.273885,171.954545
1972,170.952681,172.215054,NaN,175.936145,NaN,NaN,193.321053,NaN,175.613208,178.747748,...,NaN,NaN,NaN,NaN,NaN,NaN,182.091703,182.835227,167.491979,171.049751
1976,171.251282,170.796875,NaN,176.658613,NaN,NaN,189.760563,NaN,177.021505,179.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,182.564815,184.755725,166.865497,171.666667
1980,171.365741,172.651515,NaN,176.641509,NaN,NaN,190.985981,NaN,177.982759,180.810127,...,NaN,NaN,NaN,NaN,NaN,NaN,185.051813,185.809160,168.292208,172.403162
1984,172.958944,171.663462,NaN,175.800367,NaN,NaN,192.352113,NaN,179.109195,180.955556,...,NaN,NaN,NaN,NaN,NaN,NaN,185.492754,186.255034,168.055866,172.289286
1988,173.618357,172.648221,NaN,175.551587,NaN,NaN,191.038136,NaN,178.808383,182.625000,...,171.342246,NaN,179.535354,NaN,NaN,NaN,187.878151,186.529412,169.393365,172.198630
1992,174.500000,174.095238,NaN,176.087613,174.051546,180.273381,193.125541,NaN,173.973262,182.869822,...,171.266667,NaN,177.814655,NaN,NaN,NaN,189.207865,188.370690,171.173228,172.827362
1996,NaN,173.757764,NaN,176.476684,175.128319,182.328467,190.770318,184.030769,NaN,NaN,...,170.725888,NaN,177.941423,NaN,NaN,NaN,189.865471,190.033898,169.789474,173.390625
2000,NaN,174.058824,NaN,176.537860,173.920000,182.386243,191.000000,185.083333,NaN,NaN,...,171.191011,175.158416,177.923077,167.869565,173.242424,NaN,189.000000,184.900433,166.770833,174.549521
2004,NaN,173.731132,NaN,176.301748,173.595000,183.476440,191.637631,185.437500,NaN,NaN,...,170.915385,175.548387,178.632000,165.812500,173.676768,NaN,189.865724,184.278431,167.398374,172.894428
2008,NaN,173.279793,NaN,176.038164,173.699454,183.826316,191.714286,187.322917,NaN,NaN,...,170.951613,176.132231,179.055118,165.781250,174.390909,NaN,190.438163,185.191406,166.040650,172.565598
2012,NaN,173.295000,NaN,176.095578,174.263736,NaN,192.351916,186.937500,NaN,NaN,...,171.607759,176.904762,180.118881,166.312500,173.681818,NaN,189.926829,186.085603,166.508065,172.546547
2016,NaN,173.363636,NaN,175.207140,174.502825,NaN,191.932384,187.375000,NaN,NaN,...,172.038627,179.650794,180.153846,167.500000,173.200000,NaN,190.332155,185.286822,166.713725,172.523121

In [35]:
# I want the max, not the mean!
df.pivot_table(index='Year', columns='Sport', values='Height', aggfunc='max').dropna(thresh=30)

Sport,Alpine Skiing,Archery,Art Competitions,Athletics,Badminton,Baseball,Basketball,Beach Volleyball,Biathlon,Bobsleigh,...,Table Tennis,Taekwondo,Tennis,Trampolining,Triathlon,Tug-Of-War,Volleyball,Water Polo,Weightlifting,Wrestling
Year,,,,,,,,,,,,,,,,,,,,,
1964,187.0,NaN,NaN,202.0,NaN,NaN,218.0,NaN,185.0,189.0,...,NaN,NaN,NaN,NaN,NaN,NaN,198.0,198.0,193.0,198.0
1968,193.0,NaN,NaN,203.0,NaN,NaN,216.0,NaN,191.0,190.0,...,NaN,NaN,NaN,NaN,NaN,NaN,201.0,202.0,194.0,198.0
1972,193.0,189.0,NaN,202.0,NaN,NaN,223.0,NaN,189.0,201.0,...,NaN,NaN,NaN,NaN,NaN,NaN,201.0,202.0,192.0,198.0
1976,188.0,185.0,NaN,202.0,NaN,NaN,220.0,NaN,200.0,190.0,...,NaN,NaN,NaN,NaN,NaN,NaN,200.0,202.0,193.0,198.0
1980,188.0,188.0,NaN,202.0,NaN,NaN,220.0,NaN,200.0,198.0,...,NaN,NaN,NaN,NaN,NaN,NaN,207.0,202.0,196.0,214.0
1984,192.0,188.0,NaN,208.0,NaN,NaN,218.0,NaN,200.0,190.0,...,NaN,NaN,NaN,NaN,NaN,NaN,203.0,204.0,190.0,198.0
1988,192.0,195.0,NaN,203.0,NaN,NaN,223.0,NaN,200.0,195.0,...,196.0,NaN,203.0,NaN,NaN,NaN,210.0,205.0,194.0,214.0
1992,192.0,195.0,NaN,203.0,193.0,198.0,223.0,NaN,200.0,196.0,...,196.0,NaN,200.0,NaN,NaN,NaN,209.0,205.0,192.0,198.0
1996,NaN,191.0,NaN,207.0,199.0,199.0,223.0,202.0,NaN,NaN,...,193.0,NaN,200.0,NaN,NaN,NaN,217.0,206.0,195.0,204.0
2000,NaN,197.0,NaN,205.0,199.0,206.0,226.0,208.0,NaN,NaN,...,192.0,201.0,198.0,185.0,193.0,NaN,217.0,206.0,193.0,204.0
2004,NaN,197.0,NaN,207.0,193.0,201.0,226.0,201.0,NaN,NaN,...,193.0,201.0,208.0,180.0,193.0,NaN,217.0,205.0,205.0,200.0
2008,NaN,193.0,NaN,206.0,195.0,198.0,226.0,206.0,NaN,NaN,...,192.0,203.0,203.0,179.0,196.0,NaN,212.0,205.0,197.0,203.0
2012,NaN,194.0,NaN,208.0,201.0,NaN,221.0,210.0,NaN,NaN,...,196.0,203.0,206.0,179.0,194.0,NaN,219.0,205.0,197.0,203.0
2016,NaN,194.0,NaN,208.0,201.0,NaN,218.0,212.0,NaN,NaN,...,198.0,207.0,204.0,183.0,191.0,NaN,211.0,206.0,197.0,203.0

In [36]:
# multiple functions
df.pivot_table(index='Year', columns='Sport', values='Height', aggfunc=['mean', 'max']).dropna(thresh=30)

               mean                                                       \
Sport Alpine Skiing     Archery Art Competitions   Athletics   Badminton
Year
1908            NaN         NaN              NaN  178.305994         NaN
1920            NaN         NaN              NaN  177.161194         NaN
1924            NaN         NaN       173.555556  176.324257         NaN
1928            NaN         NaN       169.000000  176.472505         NaN
1932            NaN         NaN       174.952381  176.091765         NaN
1936     169.250000         NaN       180.666667  177.456110         NaN
1948     170.116279         NaN       176.000000  177.423290         NaN
1952     173.387755         NaN              NaN  176.394947         NaN
1956     169.338028         NaN              NaN  176.184132         NaN
1960     168.188119         NaN              NaN  176.420245         NaN
1964     169.783784         NaN              NaN  175.876506         NaN
1968     171.181360         NaN              NaN  176.355755         NaN
1972     170.952681  172.215054              NaN  175.936145         NaN
1976     171.251282  170.796875              NaN  176.658613         NaN
1980     171.365741  172.651515              NaN  176.641509         NaN
1984     172.958944  171.663462              NaN  175.800367         NaN
1988     173.618357  172.648221              NaN  175.551587         NaN
1992     174.500000  174.095238              NaN  176.087613  174.051546
1996            NaN  173.757764              NaN  176.476684  175.128319
2000            NaN  174.058824              NaN  176.537860  173.920000
2002     174.239564         NaN              NaN         NaN         NaN
2004            NaN  173.731132              NaN  176.301748  173.595000
2006     175.143089         NaN              NaN         NaN         NaN
2008            NaN  173.279793              NaN  176.038164  173.699454
2010     175.345534         NaN              NaN         NaN         NaN
2012            NaN  173.295000              NaN  176.095578  174.263736
2014     175.336296         NaN              NaN         NaN         NaN
2016            NaN  173.363636              NaN  175.207140  174.502825

                                                                        ...  \
Sport    Baseball  Basketball Beach Volleyball    Biathlon   Bobsleigh  ...
Year                                                                    ...
1908          NaN         NaN              NaN         NaN         NaN  ...
1920          NaN         NaN              NaN         NaN         NaN  ...
1924          NaN         NaN              NaN         NaN         NaN  ...
1928          NaN         NaN              NaN         NaN  178.388889  ...
1932          NaN         NaN              NaN         NaN  175.222222  ...
1936          NaN  182.574074              NaN         NaN  173.600000  ...
1948          NaN  185.550725              NaN         NaN  174.250000  ...
1952          NaN  187.600000              NaN         NaN  188.000000  ...
1956          NaN  186.952941              NaN         NaN  177.818182  ...
1960          NaN  188.317708              NaN  176.200000         NaN  ...
1964          NaN  189.920635              NaN  174.295455  177.274725  ...
1968          NaN  189.880435              NaN  176.116071  177.433333  ...
1972          NaN  193.321053              NaN  175.613208  178.747748  ...
1976          NaN  189.760563              NaN  177.021505  179.000000  ...
1980          NaN  190.985981              NaN  177.982759  180.810127  ...
1984          NaN  192.352113              NaN  179.109195  180.955556  ...
1988          NaN  191.038136              NaN  178.808383  182.625000  ...
1992   180.273381  193.125541              NaN  173.973262  182.869822  ...
1996   182.328467  190.770318       184.030769         NaN         NaN  ...
2000   182.386243  191.000000       185.083333         NaN         NaN  ...
2002          NaN         NaN              NaN  173.033688  182.647059  ...
2004   183.476440  191.637631       185.437500         NaN         NaN  ...
2006          NaN         NaN              NaN  172.928571  182.445026  ...
2008   183.826316  191.714286       187.322917         NaN         NaN  ...
2010          NaN         NaN              NaN  173.354319  182.633166  ...
2012          NaN  192.351916       186.937500         NaN         NaN  ...
2014          NaN         NaN              NaN  173.271350  182.995495  ...
2016          NaN  191.932384       187.375000         NaN         NaN  ...

               max                                                     \
Sport Table Tennis Taekwondo Tennis Trampolining Triathlon Tug-Of-War
Year
1908           NaN       NaN    NaN          NaN       NaN      195.0
1920           NaN       NaN  175.0          NaN       NaN      192.0
1924           NaN       NaN  194.0          NaN       NaN        NaN
1928           NaN       NaN    NaN          NaN       NaN        NaN
1932           NaN       NaN    NaN          NaN       NaN        NaN
1936           NaN       NaN    NaN          NaN       NaN        NaN
1948           NaN       NaN    NaN          NaN       NaN        NaN
1952           NaN       NaN    NaN          NaN       NaN        NaN
1956           NaN       NaN    NaN          NaN       NaN        NaN
1960           NaN       NaN    NaN          NaN       NaN        NaN
1964           NaN       NaN    NaN          NaN       NaN        NaN
1968           NaN       NaN    NaN          NaN       NaN        NaN
1972           NaN       NaN    NaN          NaN       NaN        NaN
1976           NaN       NaN    NaN          NaN       NaN        NaN
1980           NaN       NaN    NaN          NaN       NaN        NaN
1984           NaN       NaN    NaN          NaN       NaN        NaN
1988         196.0       NaN  203.0          NaN       NaN        NaN
1992         196.0       NaN  200.0          NaN       NaN        NaN
1996         193.0       NaN  200.0          NaN       NaN        NaN
2000         192.0     201.0  198.0        185.0     193.0        NaN
2002           NaN       NaN    NaN          NaN       NaN        NaN
2004         193.0     201.0  208.0        180.0     193.0        NaN
2006           NaN       NaN    NaN          NaN       NaN        NaN
2008         192.0     203.0  203.0        179.0     196.0        NaN
2010           NaN       NaN    NaN          NaN       NaN        NaN
2012         196.0     203.0  206.0        179.0     194.0        NaN
2014           NaN       NaN    NaN          NaN       NaN        NaN
2016         198.0     207.0  204.0        183.0     191.0        NaN


Sport Volleyball Water Polo Weightlifting Wrestling
Year
1908         NaN      191.0           NaN     190.0
1920         NaN      188.0         170.0     183.0
1924         NaN      194.0         178.0     189.0
1928         NaN      198.0         180.0     183.0
1932         NaN      188.0         178.0     184.0
1936         NaN      190.0         180.0     188.0
1948         NaN      190.0         183.0     187.0
1952         NaN      199.0         186.0     190.0
1956         NaN      199.0         186.0     190.0
1960         NaN      198.0         193.0     198.0
1964       198.0      198.0         193.0     198.0
1968       201.0      202.0         194.0     198.0
1972       201.0      202.0         192.0     198.0
1976       200.0      202.0         193.0     198.0
1980       207.0      202.0         196.0     214.0
1984       203.0      204.0         190.0     198.0
1988       210.0      205.0         194.0     214.0
1992       209.0      205.0         192.0     198.0
1996       217.0      206.0         195.0     204.0
2000       217.0      206.0         193.0     204.0
2002         NaN        NaN           NaN       NaN
2004       217.0      205.0         205.0     200.0
2006         NaN        NaN           NaN       NaN
2008       212.0      205.0         197.0     203.0
2010         NaN        NaN           NaN       NaN
2012       219.0      205.0         197.0     203.0
2014         NaN        NaN           NaN       NaN
2016       211.0      206.0         197.0     203.0

[28 rows x 118 columns]