In [1]:
filename = '/Users/reuven/Courses/Current/data/nyc-parking-violations-2020.csv'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(filename, engine='pyarrow')

In [4]:
df.shape

(12495734, 43)

In [5]:
df.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,1477633194,J58JKX,NJ,PAS,05/08/1972 12:00:00 AM,16,SDN,HONDA,P,8730,...,BK,0.0,0,-,0,None,None,NaN,NaN,NaN
1,1449715424,KRE6058,PA,PAS,08/29/1977 12:00:00 AM,98,SUBN,ME/BE,P,86530,...,BLK,0.0,0,-,0,None,None,NaN,NaN,NaN
2,1455779155,444326R,NJ,PAS,10/03/1988 12:00:00 AM,20,SDN,LEXUS,P,27030,...,BLACK,0.0,0,-,0,None,None,NaN,NaN,NaN
3,1458800908,F728330,OH,PAS,01/03/1990 12:00:00 AM,21,SDN,CHEVR,P,33030,...,None,0.0,0,-,0,None,None,NaN,NaN,NaN
4,1466038676,FMY9090,NY,PAS,02/14/1990 12:00:00 AM,21,SUBN,JEEP,S,45130,...,GREY,0.0,2015,-,0,None,None,NaN,NaN,NaN

In [7]:
%%timeit

# I want to find:
# - cars from New York
# - red cars
# - Toyotas

(
    df
    .loc[lambda df_: df_['Registration State'] == 'NY']
    .loc[lambda df_: df_['Vehicle Color'] == 'RED']
    .loc[lambda df_: df_['Vehicle Make'] == 'TOYOT']
)

3.51 s ± 19.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [8]:
%%timeit

# I want to find:
# - cars from New York
# - red cars
# - Toyotas

(
    df
    .loc[lambda df_: df_['Vehicle Color'] == 'RED']
    .loc[lambda df_: df_['Vehicle Make'] == 'TOYOT']
    .loc[lambda df_: df_['Registration State'] == 'NY']
)

598 ms ± 3.55 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [9]:
%%timeit

# I want to find:
# - cars from New York
# - red cars
# - Toyotas

(
    df
    .loc[lambda df_: df_['Vehicle Make'] == 'TOYOT']
    .loc[lambda df_: df_['Vehicle Color'] == 'RED']
    .loc[lambda df_: df_['Registration State'] == 'NY']
)

924 ms ± 3.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)