In [1]:
import pandas as pd

df = pd.read_csv('taxi.csv')

In [2]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

# 1. Forgetting to aggregate!

In [3]:
# for every distinct value of passenger_count
# calculate the mean trip_distance

df.groupby('passenger_count')['trip_distance'].mean()

passenger_count
0    4.600000
1    3.092338
2    3.384387
3    3.342389
4    3.628901
5    3.182712
6    3.170976
Name: trip_distance, dtype: float64

In [4]:
df.groupby('passenger_count')['trip_distance']

In [5]:
df.groupby('passenger_count').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [6]:
df.groupby('passenger_count').count()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
passenger_count,,,,,,,,,,,,,,,,,,
0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
1,7207,7207,7207,7207,7207,7207,7207,7207,7207,7207,7207,7207,7207,7207,7207,7207,7207,7207
2,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313,1313
3,406,406,406,406,406,406,406,406,406,406,406,406,406,406,406,406,406,406
4,182,182,182,182,182,182,182,182,182,182,182,182,182,182,182,182,182,182
5,520,520,520,520,520,520,520,520,520,520,520,520,520,520,520,520,520,520
6,369,369,369,369,369,369,369,369,369,369,369,369,369,369,369,369,369,369

# 2. Ignoring sort=False

In [7]:
df.groupby('passenger_count')['trip_distance'].mean()

passenger_count
0    4.600000
1    3.092338
2    3.384387
3    3.342389
4    3.628901
5    3.182712
6    3.170976
Name: trip_distance, dtype: float64

In [9]:
df.groupby('passenger_count', sort=False)['trip_distance'].mean()

passenger_count
1    3.092338
4    3.628901
3    3.342389
2    3.384387
5    3.182712
6    3.170976
0    4.600000
Name: trip_distance, dtype: float64

# 3. Misusing multiple aggregation methods

In [12]:
# what if I want both mean and std?

df.groupby('passenger_count')['trip_distance'].agg(['mean', 'std'])

                     mean       std
passenger_count
0                4.600000  4.666905
1                3.092338  4.020187
2                3.384387  4.242826
3                3.342389  3.822041
4                3.628901  4.351369
5                3.182712  3.969468
6                3.170976  3.759807

In [13]:
df.groupby('passenger_count').agg({'trip_distance':['mean', 'std'],
                                   'total_amount':['mean', 'std', 'min', 'max']})

                trip_distance           total_amount
                         mean       std         mean        std    min     max
passenger_count
0                    4.600000  4.666905    25.570000  15.301791  14.75   36.39
1                    3.092338  4.020187    17.368569  15.286692  -7.80  252.35
2                    3.384387  4.242826    18.406306  15.612365   0.30  138.84
3                    3.342389  3.822041    17.994704  13.717839   4.80   74.46
4                    3.628901  4.351369    18.881648  15.097867   3.30   73.84
5                    3.182712  3.969468    17.211269  14.031953   3.30  102.11
6                    3.170976  3.759807    17.401355  13.363827   3.30   83.12

# 4. Losing NaN categories

In [14]:
import numpy as np

df.loc[0, 'passenger_count'] = np.nan
df.loc[1, 'passenger_count'] = np.nan
df.loc[2, 'passenger_count'] = np.nan
df.loc[3, 'passenger_count'] = np.nan
df.loc[4, 'passenger_count'] = np.nan

In [15]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,NaN,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,NaN,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,NaN,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,NaN,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,NaN,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [16]:
df.groupby('passenger_count')['trip_distance'].mean()

passenger_count
0.0    4.600000
1.0    3.093584
2.0    3.384387
3.0    3.342389
4.0    3.628901
5.0    3.182712
6.0    3.170976
Name: trip_distance, dtype: float64

In [17]:
# if we want to include NaN values in our categorical values, then we need to say dropna=False

df.groupby('passenger_count', dropna=False)['trip_distance'].mean()

passenger_count
0.0    4.600000
1.0    3.093584
2.0    3.384387
3.0    3.342389
4.0    3.628901
5.0    3.182712
6.0    3.170976
NaN    1.298000
Name: trip_distance, dtype: float64

# 5. Multiple column grouping

In [18]:
# a good rule of thumb in Pandas is: If you can specify one column (as a string), then you can specify
# many columns (as a list of strings)

df.groupby('passenger_count')[['total_amount', 'trip_distance']].mean()

                 total_amount  trip_distance
passenger_count
0.0                 25.570000       4.600000
1.0                 17.371663       3.093584
2.0                 18.406306       3.384387
3.0                 17.994704       3.342389
4.0                 18.881648       3.628901
5.0                 17.211269       3.182712
6.0                 17.401355       3.170976

In [19]:
df.groupby(['VendorID', 'passenger_count'])[['total_amount', 'trip_distance']].mean()

                          total_amount  trip_distance
VendorID passenger_count
1        0.0                 25.570000       4.600000
         1.0                 16.943042       2.956844
         2.0                 19.076807       3.452027
         3.0                 19.002803       3.588535
         4.0                 20.518657       3.952239
         5.0                 20.466667       4.933333
2        1.0                 17.910429       3.265462
         2.0                 17.855770       3.328849
         3.0                 17.359076       3.187189
         4.0                 17.927913       3.440522
         5.0                 17.192379       3.172553
         6.0                 17.401355       3.170976

In [20]:
df.groupby(['VendorID', 'passenger_count'])[['total_amount', 'trip_distance']].agg(['mean', 'std'])

                         total_amount            trip_distance
                                 mean        std          mean       std
VendorID passenger_count
1        0.0                25.570000  15.301791      4.600000  4.666905
         1.0                16.943042  15.371017      2.956844  3.915016
         2.0                19.076807  16.049125      3.452027  4.311461
         3.0                19.002803  15.389968      3.588535  4.336901
         4.0                20.518657  15.845568      3.952239  4.178348
         5.0                20.466667   6.751543      4.933333  2.926317
2        1.0                17.910429  15.175544      3.265462  4.145206
         2.0                17.855770  15.233530      3.328849  4.187816
         3.0                17.359076  12.540837      3.187189  3.458608
         4.0                17.927913  14.630713      3.440522  4.456196
         5.0                17.192379  14.064202      3.172553  3.974566
         6.0                17.401355  13.363827      3.170976  3.759807