In [2]:
filename = '/Users/reuven/Courses/Current/Data/nyc-parking-violations-2020.csv'

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(filename, engine='pyarrow')

In [5]:
df.shape

(12495734, 43)

In [6]:
df.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,1477633194,J58JKX,NJ,PAS,05/08/1972 12:00:00 AM,16,SDN,HONDA,P,8730,...,BK,0.0,0,-,0,None,None,NaN,NaN,NaN
1,1449715424,KRE6058,PA,PAS,08/29/1977 12:00:00 AM,98,SUBN,ME/BE,P,86530,...,BLK,0.0,0,-,0,None,None,NaN,NaN,NaN
2,1455779155,444326R,NJ,PAS,10/03/1988 12:00:00 AM,20,SDN,LEXUS,P,27030,...,BLACK,0.0,0,-,0,None,None,NaN,NaN,NaN
3,1458800908,F728330,OH,PAS,01/03/1990 12:00:00 AM,21,SDN,CHEVR,P,33030,...,None,0.0,0,-,0,None,None,NaN,NaN,NaN
4,1466038676,FMY9090,NY,PAS,02/14/1990 12:00:00 AM,21,SUBN,JEEP,S,45130,...,GREY,0.0,2015,-,0,None,None,NaN,NaN,NaN

In [7]:
# how often did each vehicle make get ticketed?
# means: take each unique value in Vehcle Make, and count the number of times it appears

# value_counts

df['Vehicle Make'].value_counts()

Vehicle Make
TOYOT    1395273
HONDA    1343265
FORD     1328063
NISSA    1119587
CHEVR     711464
          ...
BEAVE          1
NELSO          1
HOWBY          1
BONEE          1
KIA (          1
Name: count, Length: 5210, dtype: int64

In [8]:
df['Vehicle Make'].value_counts().head(10)

Vehicle Make
TOYOT    1395273
HONDA    1343265
FORD     1328063
NISSA    1119587
CHEVR     711464
FRUEH     530846
ME/BE     530473
JEEP      490977
BMW       488545
DODGE     462646
Name: count, dtype: int64

In [10]:
# what percentage of the tickets were given to each vehicle make?

df['Vehicle Make'].value_counts(normalize=True).head(10)

Vehicle Make
TOYOT    0.112221
HONDA    0.108038
FORD     0.106815
NISSA    0.090047
CHEVR    0.057222
FRUEH    0.042695
ME/BE    0.042665
JEEP     0.039489
BMW      0.039293
DODGE    0.037210
Name: proportion, dtype: float64

In [11]:
%timeit df['Vehicle Make'].value_counts().head(10)

408 ms ± 4.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [12]:
from collections import Counter

Counter(df['Vehicle Make']).most_common(10)

[('TOYOT', 1395273),
 ('HONDA', 1343265),
 ('FORD', 1328063),
 ('NISSA', 1119587),
 ('CHEVR', 711464),
 ('FRUEH', 530846),
 ('ME/BE', 530473),
 ('JEEP', 490977),
 ('BMW', 488545),
 ('DODGE', 462646)]

In [13]:
%timeit Counter(df['Vehicle Make']).most_common(10)

1.32 s ± 9.08 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [14]:
408 / 1320

0.3090909090909091