In [1]:
import pandas as pd

In [3]:
url = 'https://raw.githubusercontent.com/datasets/oil-prices/refs/heads/main/data/wti-daily.csv'

df = pd.read_csv(url,
                parse_dates=['Date'],
                index_col='Date')
df

            Price
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87
...           ...
2025-06-30  66.30
2025-07-01  66.64
2025-07-02  68.66
2025-07-03  68.13
2025-07-07  69.16

[9947 rows x 1 columns]

In [4]:
# how can I get the mean price of oil in this data set?
df['Price'].mean()

np.float64(47.87041620589122)

In [5]:
# what is the difference in price that each row shows relative to its predecessor?
df['Price'].diff()

Date
1986-01-02     NaN
1986-01-03    0.44
1986-01-06    0.53
1986-01-07   -0.68
1986-01-08    0.02
              ...
2025-06-30   -0.36
2025-07-01    0.34
2025-07-02    2.02
2025-07-03   -0.53
2025-07-07    1.03
Name: Price, Length: 9947, dtype: float64

In [6]:
df['Price'].diff(periods=7)  # show me how much the WTI index changes in the last week

Date
1986-01-02     NaN
1986-01-03     NaN
1986-01-06     NaN
1986-01-07     NaN
1986-01-08     NaN
              ...
2025-06-30   -9.59
2025-07-01   -9.08
2025-07-02   -0.70
2025-07-03    2.68
2025-07-07    3.18
Name: Price, Length: 9947, dtype: float64

In [7]:
df['Price'].pct_change()

Date
1986-01-02         NaN
1986-01-03    0.017214
1986-01-06    0.020385
1986-01-07   -0.025631
1986-01-08    0.000774
                ...
2025-06-30   -0.005401
2025-07-01    0.005128
2025-07-02    0.030312
2025-07-03   -0.007719
2025-07-07    0.015118
Name: Price, Length: 9947, dtype: float64

In [9]:
# we can use other kinds of window functions, too

df['Price'].rolling(window=2).sum()

Date
1986-01-02       NaN
1986-01-03     51.56
1986-01-06     52.53
1986-01-07     52.38
1986-01-08     51.72
               ...
2025-06-30    132.96
2025-07-01    132.94
2025-07-02    135.30
2025-07-03    136.79
2025-07-07    137.29
Name: Price, Length: 9947, dtype: float64

In [10]:
df['Price'].rolling(window=2).mean()

Date
1986-01-02       NaN
1986-01-03    25.780
1986-01-06    26.265
1986-01-07    26.190
1986-01-08    25.860
               ...
2025-06-30    66.480
2025-07-01    66.470
2025-07-02    67.650
2025-07-03    68.395
2025-07-07    68.645
Name: Price, Length: 9947, dtype: float64

In [11]:
df['Price'].rolling(window=7).mean()

Date
1986-01-02          NaN
1986-01-03          NaN
1986-01-06          NaN
1986-01-07          NaN
1986-01-08          NaN
                ...
2025-06-30    67.987143
2025-07-01    66.690000
2025-07-02    66.590000
2025-07-03    66.972857
2025-07-07    67.427143
Name: Price, Length: 9947, dtype: float64

In [12]:
df['Price'].expanding().mean()

Date
1986-01-02    25.560000
1986-01-03    25.780000
1986-01-06    26.030000
1986-01-07    25.985000
1986-01-08    25.962000
                ...
2025-06-30    47.862259
2025-07-01    47.864147
2025-07-02    47.866238
2025-07-03    47.868276
2025-07-07    47.870416
Name: Price, Length: 9947, dtype: float64